.bioBackgroundLight {
	background-color: var(--background-light);
}

.bioBackgroundDark {
	background-color: var(--background-dark);
	color: var(--text-light);
	position: relative;
	padding-block-start: 10rem;
	padding-block-end: 5rem;
}

.bioSwitcher {
	composes: switcher from "../styles/Switcher.module.css";
}

.bioStack,
.bioStack2,
.workshopStack {
	composes: stack from "../styles/Stack.module.css";
}

.bioStack > * + *,
.bioStack2 > * + * {
	--stack-space: var(--s4);
}

.bioStack2 {
	--stack-align: flex-end;
	text-align: end;
}

.imgContainer {
	position: relative;
	aspect-ratio: 2 / 3;
	width: 400px;
	max-width: 420px;
	transform: translateY(8rem);
	z-index: 9;
	border-style: solid;
	border-width: 10px;
	border-color: rgba(0, 0, 0, 0.1);
	border-image: url("../public/img/radient-150x150.png");
	border-image-slice: 10;
}

.imgContainer2 {
	composes: imgContainer;
	transform: translateY(-8rem);
}

.bioImage {
	object-fit: cover;
}

.bioVideo {
	margin-block-start: var(--s5);
	aspect-ratio: 16 / 9;
	max-width: 640px;
	max-height: 360px;
}

@media (max-width: 900px) {
	.bioSwitcher {
		justify-content: center;
		align-items: center;
	}
	.bioBackgroundDark .bioSwitcher {
		flex-direction: column-reverse;
	}

	.imgContainer,
	.imgContainer2 {
		max-width: 300px;
	}

	.imgContainer {
		margin-block-start: -4rem;
	}

	.imgContainer2 {
		transform: translateY(0);
		margin-block: 2rem;
	}
}
