.grid {
	display: grid;
	grid-gap: 0.5rem;
}

@supports (width: min(250px, 100%)) {
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
	}
}

.frame {
	--n: 1;
	--d: 1;
	aspect-ratio: var(--n) / var(--d);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.frame > img,
.frame > video {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}
