.header {
	background-color: var(--background-dark);
	padding-block: var(--s0);
	color: var(--text-light);
}

.headerWrap {
	composes: wrap from "./Wrap.module.css";
}

.headerLogo,
.desktopNav a {
	color: var(--text-light);
}

@media (max-width: 550px) {
	.headerWrap {
		composes: wrap from "./Wrap.module.css";
		--wrap-justify: center;
	}
}
