.heroBackground {
	background-color: var(--background-dark);
	position: relative;
	overflow: hidden;
}

.container {
	display: grid;
	grid-template-columns: 1fr 650px 1fr;
	grid-template-rows: 1fr;
}

.bckgImage,
.bckgOverlay {
	object-fit: contain;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	inline-size: 650px;
	max-block-size: 850px;
	position: relative;
}

.spacer {
	block-size: 10rem;
	background-color: var(--background-dark);
	position: relative;
	z-index: 3;
}

@media (max-width: 700px) {
	.bckgImage,
	.bckgOverlay {
		inline-size: 85vw;
		max-block-size: 45vh;
	}

	.heroTitle {
		font-size: var(--s-1);
		letter-spacing: 6px;
	}
}
