.reel {
	position: relative;
	display: flex;
	flex-direction: column;
	block-size: 800px;
	inline-size: 100%;
	overflow: hidden;
	scrollbar-color: #fff #000;
}

.reelInside {
	background-color: none;
	display: flex;
	inline-size: 200vw;
	transition: all 0.5s ease-in-out;
	position: relative;
}

.reelItem {
	display: flex;
	justify-content: center;
	align-items: center;
	block-size: 800px;
	inline-size: 100vw;
	padding: var(--s1);
}

.reelItemContent {
	max-inline-size: 40rem;
	--stack-justify: center;
	--stack-align: center;
}

.reelItemContent > * {
	--stack-space: var(--s4);
}

.reelItemBody {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: var(--s2);
}
.reelItemBody > *:nth-child(1) {
	flex: 1 1 30%;
}

.reelItemBody > *:nth-child(2) {
	flex: 1 1 65%;
	padding-inline-start: var(--s1);
	border-inline-start: 1px solid lightslategray;
}

.reelItemFooter {
	display: flex;
	gap: var(--s1);
}

.reelItemFooter > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
	border: 4px solid rgba(8, 61, 119, 0.5);
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.05);
	background-size: cover;
	padding: var(--s2);
	color: var(--main);
	font-family: var(--poppinsbold);
	text-transform: uppercase;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
}

/* .reelItemFooter > *:nth-child(2) {
	background-image: url("../public/img/brda-chart.png");
}
.reelItemFooter > *:nth-child(1) {
	background-image: url("../public/img/stubovi.png");
}
.reelItemFooter > *:nth-child(3) {
	background-image: url("../public/img/doline-chart.png");
} */

.reelButtons {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	/* height: 50px; */
	z-index: 100;
}

.reelButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: none;
	border: none;
	border-radius: 50px;
	background: none;
	background-color: rgba(0, 0, 0, 0.03);
	cursor: pointer;
	transition: all 0.2s ease;
}

.reelButton:focus {
	/* transform: translateY(5px) scale(1.1); */
}

.reelTop,
.reelBottom {
	position: absolute;
	left: 0;
	z-index: 90;
}

.reelTop {
	top: 0;
}

.reelBottom {
	bottom: -15px;
}
@media (max-width: 900px) {
	.reelButtons {
		width: 100%;
	}
}

@media (max-width: 550px) {
	.reelItemFooter {
		gap: var(--s-5);
	}

	.reelItemFooter > * {
		font-size: var(--s-2);
	}

	.reelItemBody > *:nth-child(2) {
		border-inline-start: none;
	}
}
