.underlineContainerStart,
.underlineContainerEnd {
	display: flex;
}

.underlineContainerEnd {
	justify-content: flex-end;
}

.underlinePrimary,
.underlineSecondary {
	display: block;
	width: 8rem;
	height: 3px;
	background-color: var(--primary);
	margin-block: var(--s1);
}

.underlineSecondary {
	background-color: var(--secondary);
}
